@charset "UTF-8";

:root {
  --primary-color: #00f;
  --transition: .3s ease-in;
}

body {
  background-color: var(--primary-color);
  font-size: 1.1rem;
  font-family: 'Comfortaa', cursive;
}

#to-do-list-wrap {
  background-color: white;
  max-width: 550px;
}

#to-do-list-wrap .btn,
.task,
.btn:hover,
.task:hover,
.task.done,
.task.done > span,
.hide {
  transition: var(--transition);
}

h2 {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.btn > i {
  pointer-events: none;
}

.task.done {
  background-color: var(--bs-info);
}

.task.done > span {
  text-decoration: line-through;
}

@media screen and (min-width: 992px) {
  .task:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
