@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --soft-black: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url('../img/sm-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

#container {
  background-color: #fff;
  border-radius: 15px;
  margin: 2% auto;
  max-width: 550px;
  min-width: 320px;
  padding: 2%;
  width: 96%;
}

#main-title,
#secondary-title {
  text-align: center;
}

#main-title {
  font-weight: 600;
}

#secondary-title {
  margin: 1em 0 .6em 0;
}

#container .btn,
.task,
.btn:hover,
.task:hover,
.task.done,
.task.done > span,
.hide {
  transition: .3s ease-in;
}

h2 {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.btn > i {
  pointer-events: none;
}

.task.done {
  background-color: var(--bs-info);
}

.task.done > span {
  text-decoration: line-through;
}

@media screen and (min-width: 768px) { /* Telas médias */
  body {
    background-image: url('../img/bg.jpg');
  }
}

@media screen and (min-width: 992px) { /* Telas largas */
  .task:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}