@charset "UTF-8";

:root {
  --primary-color: #333;
  --transition: .3s ease-in;
}

/* Imagens adquiridas em: https://www.pexels.com/pt-br/ */

body {
  background-color: var(--primary-color);
  background-image: url('../img/sm-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.1rem;
  font-family: 'Comfortaa', sans-serif;
}

#to-do-list-wrap {
  background-color: white;
  max-width: 550px;
}

#to-do-list-wrap .btn,
.task,
.btn:hover,
.task:hover,
.task.done,
.task.done > span,
.hide {
  transition: var(--transition);
}

h2 {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.btn > i {
  pointer-events: none;
}

.task.done {
  background-color: var(--bs-info);
}

.task.done > span {
  text-decoration: line-through;
}

@media screen and (min-width: 768px) { /* Telas médias */
  body {
    background-image: url('../img/bg.jpg');
  }
}

@media screen and (min-width: 992px) { /* Telas largas */
  .task:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}