@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #333;
  --white: #fff;
  --black-low-opacity: rgba(0, 0, 0, .3);
  --red: #f66;
  --green: #1f1;
  --blue: #66f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url('../img/sm-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--black);
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

#container {
  background-color: var(--white);
  border-radius: 15px;
  margin: 2% auto;
  max-width: 550px;
  min-width: 320px;
  padding: 2%;
  width: 96%;
}

#main-title,
#secondary-title {
  text-align: center;
}

#main-title {
  font-weight: 600;
}

#secondary-title {
  margin: 1em 0 .6em 0;
}

#add-task-wrapper {
  display: flex;
  gap: .3em;
}

#add-task-input {
  border: 1px solid var(--black-low-opacity);
  border-radius: .5em;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  flex-grow: 7;
  height: 3em;
  padding: .3em;
}

#add-task-button {
  color: var(--white);
  background-color: var(--blue);
  font-size: 1.3rem;
  border-radius: 50%;
  flex-grow: 1;
  transition: background-color .5s ease;
  border: none;
}

#add-task-button:hover {
  background-color: blue;
  cursor: pointer;
}

#add-task-button:active {
  transform: scale(.95);
}

#completed-tasks-total-container {
  margin: 1.5em auto;
  border-top: 1px solid var(--black-low-opacity);
  border-bottom: 1px solid var(--black-low-opacity);
  padding-top: .7em;
  padding-bottom: .7em;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black-low-opacity);
  padding: .3em;
  height: 3em;
  border-radius: .5em;
}

.buttons-wrapper {
  display: flex;
  gap: .3em;
}

.complete-task-button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: background-color .5s ease;
  width: 1.7em;
  height: 1.7em;
}

.complete-task-button:hover {
  background-color: blue;
  cursor: pointer;
}

.complete-task-button:active {
  transform: scale(.95);
}

.delete-task-button {
  border: none;
  color: var(--white);
  background-color: var(--red);
  font-size: 1.3rem;
  border-radius: 50%;
  transition: background-color .5s ease;
  width: 1.7em;
  height: 1.7em;
}

.delete-task-button:hover {
  background-color: red;
  cursor: pointer;
}

.delete-task-button:active {
  transform: scale(.95);
}

#remove-complete-tasks-button-container {
  margin-top: 1em;
}

#remove-complete-tasks-button {
  border: none;
  width: 100%;
  padding: .5em;
  border-radius: .5em;
  background-color: var(--red);
  font-size: 1rem;
  color: var(--white);
  transition: background-color .5s ease;
}

#remove-complete-tasks-button:hover {
  background-color: red;
  cursor: pointer;
}

#remove-complete-tasks-button:active {
  transform: scale(.95);
}

.hidden {
  display: none;
}

.btn > i {
  pointer-events: none;
}

.task.done {
  background-color: var(--green);
}

.task.done > span {
  text-decoration: line-through;
}

/* Breakpoint para tablets em diante */
@media screen and (min-width: 768px) {
  body {
    background-image: url('../img/bg.jpg');
  }
}