@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #000;
  --black-low-opacity: rgba(0, 0, 0, .3);
  --blue: #66f;
  --gray: #aaa;
  --green: #1f1;
  --light-blue: #aaf;
  --light-green: #afa;
  --red: #f66;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

#container {
  background-color: var(--white);
  margin: 0 auto;
  max-width: 550px;
  min-width: 320px;
  padding: .6em;
}

#main-title,
#secondary-title {
  text-align: center;
}

#secondary-title {
  font-weight: 400;
  margin: 1em 0 .6em 0;
}

#add-task-wrapper {
  display: flex;
  align-items: center;
  gap: .3em;
}

#add-task-input {
  border: 1px solid var(--black-low-opacity);
  border-radius: .5em;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  flex-grow: 1;
  height: 3em;
  padding: .3em;
}

button {
  border: none;
  border-radius: 50%;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  transition: background-color .5s ease;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(.95);
}

#add-task-button {
  background-color: var(--blue);
  height: 2.2em;
  width: 2.2em;
}

#add-task-button:hover {
  background-color: blue;
}

#categories {
  background-color: var(--light-blue);
  border: 1px solid var(--black-low-opacity);
  border-radius: .5em;
  margin: 1.5em auto;
  padding-bottom: .4em;
  padding-top: .4em;
  display: flex;
  justify-content: space-around;
}

.category {
  background-color: var(--white);
  padding: .4em;
  border-radius: .5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .2em;
}

.info-total {
  font-size: 1.5rem;
  font-weight: 600;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.task {
  border: 1px solid var(--black-low-opacity);
  border-radius: .5em;
  height: 3em;
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task.done {
  background-color: var(--light-green);
}

.task.done .task-description {
  text-decoration: line-through;
  color: var(--gray);
}

.description-wrapper {
  display: flex;
  gap: .5em;
}

.buttons-wrapper {
  display: flex;
  gap: .3em;
}

.edit-task-button,
.delete-task-button {
  height: 1.7em;
  width: 1.7em;
}

.edit-task-button {
  background-color: var(--blue);
}

.edit-task-button:hover {
  background-color: blue;
}

.delete-task-button,
#remove-complete-tasks-button {
  background-color: var(--red);

}

.delete-task-button:hover,
#remove-complete-tasks-button:hover {
  background-color: red;
}

#remove-complete-tasks-button-container {
  margin-top: 1em;
}

#remove-complete-tasks-button {
  border-radius: .5em;
  font-size: 1rem;
  padding: .7em;
  width: 100%;
}

.hidden {
  display: none;
}
