* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 16px;
}

body {
  background-color: #000;
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

header {
  background-color: transparent;
  backdrop-filter: blur(50px);
  max-width: 550px;
  min-width: 320px;
  width: 100%;
  padding: 0.6em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#container {
  background-color: #121212;
  margin: 0 auto;
  max-width: 550px;
  min-height: 100svh;
  min-width: 320px;
  padding: 0.6em;
  padding-top: 310px;
}

#main-title,
#secondary-title {
  text-align: center;
}

#secondary-title {
  font-weight: 400;
  margin: 1em 0 0.6em 0;
}

#add-task-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#add-task-input {
  background-color: #1c1c1c;
  border: 1px solid #424242;
  border-radius: 0.5em;
  color: #fff;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 3em;
  padding: 0.3em;
}

#add-task-input::placeholder {
  color: #757575;
}

button {
  border: none;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  transition: background-color 0.5s;
}

button:hover {
  cursor: pointer;
}

#add-task-button {
  background-color: #43a047;
  color: #fff;
  height: 2.2em;
  width: 2.2em;
}

#add-task-button:hover {
  background-color: #388e3c;
}

#categories {
  background-color: #263238;
  color: #b0bec5;
  border: 1px solid #37474f;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-around;
  margin: 1.5em auto;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.category {
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.4em;
}

.info-total {
  font-size: 1.5rem;
  font-weight: 600;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.task {
  background-color: #1c1c1c;
  color: #e0e0e0;
  align-items: center;
  border: 1px solid #424242;
  border-radius: 0.5em;
  display: flex;
  height: 3em;
  justify-content: space-between;
  padding: 0.3em;
}

.task.done {
  background-color: #2e7d32;
  border-color: #388e3c;
}

.task.done .task-description {
  color: #a5d6a7;
  text-decoration: line-through;
}

.description-wrapper {
  display: flex;
  gap: 0.5em;
}

.buttons-wrapper {
  display: flex;
  gap: 0.3em;
}

.edit-task-button,
.delete-task-button {
  height: 1.7em;
  width: 1.7em;
}

.edit-task-button {
  background-color: #1e88e5;
  color: #fff;
}

.edit-task-button:hover {
  background-color: #1565c0;
}

.delete-task-button,
#remove-complete-tasks-button {
  background-color: #d32f2f;
}

.delete-task-button:hover,
#remove-complete-tasks-button:hover {
  background-color: #b71c1c;
}

#remove-complete-tasks-button-container {
  margin-top: 1em;
}

#remove-complete-tasks-button {
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 0.7em;
  width: 100%;
}

.hidden {
  display: none;
}
