@charset "UTF-8";

:root {
  --blue: #66f;
  --light-green: #afa;
  --red: #f66;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #222;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

#container {
  background-color: #000;
  margin: 0 auto;
  max-width: 550px;
  min-height: 100svh;
  min-width: 320px;
  padding: .6em;
}

#main-title,
#secondary-title {
  text-align: center;
}

#secondary-title {
  font-weight: 400;
  margin: 1em 0 .6em 0;
}

#add-task-wrapper {
  display: flex;
  align-items: center;
  gap: .3em;
}

#add-task-input {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: .5em;
  color: white;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 3em;
  padding: .3em;
}

button {
  border: none;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  transition: background-color .5s ease;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(.95);
}

#add-task-button {
  background-color: var(--blue);
  height: 2.2em;
  width: 2.2em;
}

#add-task-button:hover {
  background-color: blue;
}

#categories {
  background-color: #222;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: .5em;
  display: flex;
  justify-content: space-around;
  margin: 1.5em auto;
  padding-bottom: .4em;
  padding-top: .4em;
}

.category {
  display: flex;
  align-items: center;
  border-radius: .5em;
  flex-direction: column;
  gap: .2em;
  padding: .4em;
}

.info-total {
  font-size: 1.5rem;
  font-weight: 600;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.task {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: .5em;
  display: flex;
  height: 3em;
  justify-content: space-between;
  padding: .3em;
}

.task.done {
  background-color: var(--light-green);
}

.task.done .task-description {
  color: #777;
  text-decoration: line-through;
}

.description-wrapper {
  display: flex;
  gap: .5em;
}

.buttons-wrapper {
  display: flex;
  gap: .3em;
}

.edit-task-button,
.delete-task-button {
  height: 1.7em;
  width: 1.7em;
}

.edit-task-button {
  background-color: var(--blue);
}

.edit-task-button:hover {
  background-color: blue;
}

.delete-task-button,
#remove-complete-tasks-button {
  background-color: var(--red);

}

.delete-task-button:hover,
#remove-complete-tasks-button:hover {
  background-color: red;
}

#remove-complete-tasks-button-container {
  margin-top: 1em;
}

#remove-complete-tasks-button {
  border-radius: .5em;
  font-size: 1rem;
  padding: .7em;
  width: 100%;
}

.hidden {
  display: none;
}